#frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    overflow: hidden;
    font-size: 9px;
}


@media(min-aspect-ratio: 9/9) {
    #frame {
        font-size: ((9/9)*100vh)/9/2;
        // width: (9/9)*100vh;
        height: 100vh;
    }
}

@media(max-aspect-ratio: 9/9) {
    #frame {
        font-size: ((9/9)*100vw)/9/2;
        height: (9/9)*100vw;
        width: 100vw;
        top: auto;
    }
}

// @media(min-aspect-ratio: 16/9) {
//     #frame {
//         font-size: 5.555vh;
//         width: 177.778vh;
//         height: 100vh;
//     }
// }

// @media(max-aspect-ratio: 16/9) {
//     #frame {
//         font-size: 3.125vw;
//         height: 56.25vw;
//         width: 100vw;
//     }
// }

#frame, body {
    background-color: #222;
}
