#frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    overflow: hidden;
    font-size: 9px;

    background-color: #222;
}


@media(min-aspect-ratio: ~"9/9") {
    #frame {
        font-size: ((9/9)*100vh)/9/2;
        // width: (9/9)*100vh;
        height: 100vh;
    }
}

@media(max-aspect-ratio: ~"9/9") {
    #frame {
        font-size: ((9/9)*100vw)/9/2;
        // height: (9/9)*100vw;
        width: 100vw;
    }
}

.anchored-as-component {
    #frame {
        border-radius: 1em;
    }
}

.anchored-as-overlay {
    #frame {
        background-color: transparent;
    }
}
