.Score {
    left: 0em;
    right: 0em;
    top: 1em;
    z-index: 999;
    position: absolute;

    color: #FFF;
    font-weight: bold;
    font-family: comfortaa;
    text-align: center;

    h1 {
        font-size: 3em;
    }

    .rank {
        transition-duration: 2s;
        transition-property: color;

        &.neglibile {
            color: transparent;
        }
    }
}
