.Score {
    top: 0em;
    left: 0em;
    right: 0em;
    padding: 2em;
    z-index: 10;
    position: absolute;

    opacity: 1;
    transition-delay: 0.25s;
    transition-duration: 0.5s;
    transition-property: opacity;

    .score {
        h1 {
            font-size: 3em;
            line-height: 1em;
            font-weight: bold;
        }
        small {
            font-size: 0.75em;
            opacity: 0.5;
        }
    }

    .rank {
        transition-duration: 2s;
        transition-property: color;

        &.neglibile {
            color: transparent;
        }

        h3 {
            font-weight: normal;
        }
    }
}

.anchored-as-panel,
.anchored-as-component {
    .Score {
        &.hasEnded {
            opacity: 0;
        }
    }
}
