.Slab {
    position: absolute;
    transform-style: preserve-3d;

    .face {
        position: absolute;

        border-width: 1px;
        border-style: solid;
        border-color: #111;
        box-sizing: border-box;
    }
}
