* {
    cursor: default;
    user-select: none;
    image-rendering: pixelated;
}

body {
    background-color: #111;
}

#frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    overflow: hidden;
}

@media(min-aspect-ratio: 16/9) {
    #frame {
        width: 177.778vh;
        height: 100vh;
    }
}

@media(max-aspect-ratio: 16/9) {
    #frame {
        height: 56.25vw;
        width: 100vw;
    }
}

#frame {
    background-color: #222;
}

.stack {
    /* right: 0px; */
    /* bottom: 0px; */
    /* padding: 2em; */
    position: absolute;

    color: #EEE;
    font-family: sans-serif;

    perspective: 500px;
    perspective: 5000px;
    transform-origin: 50% 50%;
    width: 100%; height: 100%;
}

.box {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(65deg) rotateZ(45deg) translate3d(0px, 0px, 0px) ;
}

.box > .face {
    position: absolute;
    box-sizing: border-box;

    border-width: 1px;
    border-color: #000;
    border-style: solid;
}
