* {
    cursor: default;
    user-select: none;
    image-rendering: pixelated;
}

body {
    background-color: #111;
}

#frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    overflow: hidden;
}

@media(min-aspect-ratio: 16/9) {
    #frame {
        width: 177.778vh;
        height: 100vh;
    }
}

@media(max-aspect-ratio: 16/9) {
    #frame {
        height: 56.25vw;
        width: 100vw;
    }
}

#frame {
    background-color: #222;
}
