@import "./styles/AspectRatio.scss";
@import "./styles/Font.scss";

@include font(comfortaa);

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
    font-family: comfortaa;
}

#mount {
    @include aspect-ratio(240, 320);
    background-color: #222;
}

#mount > canvas {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}

#mount > .score {
    width: 100%;
    z-index: 999;
    padding: 16px;
    position: absolute;
    
    font-size: 64px;
    text-align: center;
}